body{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    header{
        padding: 10px 0 10px 0;
        width: 100%;
        height: 5%;
        position: relative;
        display: flex;
        background: white;
        align-items: center;
        border-bottom: #ECEFF1 solid 1px;

        #p1{
            width: 220px;
            display: flex;
            align-items: center;
            margin-left:28px; 
        .fa, .fab, .fal, .far, .fas {
            
            
            font-size: 20px;
            color: #767676;

        }

        #marca{

            margin-left: 22px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            color: #767676;
            
            #text{
                margin-left: 15px;
                font-size: 22px;
            }

        }
        }
        #p2{
            width: 1000px;
            display: flex;
            align-items: center;
            

            #busqueda{

                background: #F5F5F5;
                border-radius:5px; 
                width: 900px;
                height: 46px;
                display: flex;
                align-items: center;
                #lupa{
                    width: 38px;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: gray;
                    font-size: 18px;
                }

                #textbar{
                    
                    border: 0px;
                    width: 820px;
                    height: 41px;
                    font-size: 15px;
                    background-color: #F5F5F5;
                }

                #down{

                    width: 35px;
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: gray;
                    font-size: 18px;
                    


                }

            }
        }

    }
    
    #contenido{
    
        width: 100%;
        height: 93%;
        background: white;
        display: flex;
        

        #leftBar{

            width: 13%;
            height: 100%;
            background: white;
            display: inline-block;
            overflow-y: auto; 
            

            #redactar{
                
                width: 100%;
                height: 5%;
                background: white;
                display: flex;
                padding: 20px 0px 20px 0px;
                align-items: center;
                justify-content: right;
                #btnen{
                    width: 140px;
                    height: 48px;
                    margin-left: 10px;
                    background: rgb(255, 255, 255);
                    border-radius: 25px;
                    border: rgb(217, 217, 223) 0.5px solid;
                    box-shadow: 1px 1px 1px 1px rgb(217, 217, 223);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                    color: gray;
                    #pluss{

                        width: 18px;


                    }
                }

            }
            #categorias{

                width: 100%;
                height: 60%;
                background: white;
                display: inline-block;
                overflow-y: auto;

                .btn{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    color: gray;
                    .fa, .fab, .fal, .far, .fas {

                        margin-left: 25px;
                        margin-right: 12px;
                        
                    }
                }

            }
            #hangoust{
                
                width: 100%;
                height:29.5%;
                background: white;
                display: inline-block;
                position: relative;

                #foot{
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                #usuario{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    color: black;
                    padding: 5px 0px 5px 0px;
                    border-top: #E5E5E5 0.2px solid;
                    #perfil{
                        width: 30px;
                        height: 30px;
                        background: #96BAFB;
                        border-radius:360px; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #4274E0;
                        margin-right:5px; 
                        margin-left:10px; 
                    }
                    #agregar{
                        margin-left: 35%;
                        color: #8B8B8B;
                    }
                }
                #hanop{
                    width: 100%;
                    height: 15%;
                    background: white;
                    border-top: #E5E5E5 0.2px solid;
                    display: flex;
                    justify-content: center;
                    .opbtn{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #8B8B8B;
                    }
                }
                
 
            }
        }

        }

        #midBar{

            width: 87%;
            height: 100%;
            background: white;

            #cabecera{
                width: 100%;
                height: 5.3%;
                background: white;
                display: flex;
                border-bottom: #ECEFF1 solid 1px;

                #botonesp1{
                    width:12%;
                    height: 100%;
                    display: flex; 
                    font-size: 18px;
                    color: #767676;
               
                #check{
                    width: 33%;
                    height: 100%;
                    background: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #767676;
                    #checkbox{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 25px;
                        height: 100%;
                    }
                    #down{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15px;
                        height: 100%;
                        margin-bottom: 5px;
                        
                    }
    
                }
                .opbtn{
                    width: 33%;
                    height: 100%;
                    background: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #767676;
                    

                }
                .opbtn:hover{
                    cursor: pointer;
                    background: #4274E0;
                }
                }
                #botonesp2{
                    width: 65%;
                    height: 100%;
                    background: white;
                } 
                #botonesp3{
                    width: 21%;
                    height: 100%;
                    background: white;
                    display: flex;
                    color: #767676;
                    font-size: 14px;
                    #conteo{
                        width: 30%;
                        height: 100%;
                        background: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #767676;
                    }
                    #flechas{
                        width: 30%;
                        height: 100%;
                        background: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        #izq,#der{
                            width: 50%;
                            height: 100%;
                            background: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                    }
                    #idioma{
                        width: 30%;
                        height: 100%;
                        background: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        #idi{
                            font-size: 18px;
                            width: 25%;   
                        }
                        #down{
                            margin-bottom: 5px;
                        }

                    }
                    #config{
                        width: 10%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                    }

                }   

        
                
            }
            #bandeja{

                width: 100%;
                height: 94.7%;
                background: white;
                

                #opciones{
                    width: 100%;
                    height: 7%;
                    background: white;
                    display: flex;
                    border-bottom: #ECEFF1 solid 1px;
                    #principal{
                        width: 14%;
                        height: 99%;
                        background: white;
                        display: flex;
                        align-items: center;
                        color: #D93B30;
                        .img{
                            margin-right: 15px;
                            margin-left: 12px;
                        
                        }
                        
                    }
                    #social{
                        width: 14%;
                        height: 99%;
                        background: white;
                        display: flex;
                        align-items: center;
                        color: #70706F;
                        .img{
                            margin-right: 15px;
                            margin-left: 12px;    
                        }
                    }
                    #promociones{
                        width: 14%;
                        height: 99%;
                        background: white;
                        display: flex;
                        align-items: center;
                        color: #70706F;
                        .img{
                            margin-right: 15px;
                            margin-left: 12px;    
                        }
                    }
                }

                #zonacorreo{
                    width: 100%;
                    height: 92%;
                    display: inline-block;
                    overflow-y: auto;
                .correo{
                    width: 100%;
                    height: 5%;
                    background: white;
                    display: flex;
                    overflow-y: auto;
                    border-bottom: #ECEFF1 solid 1px;

                    #mailop{
                        width: 7%;
                        height: 100%;
                        background: white;
                        display: flex;
                        .op{
                            width: 33.3%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: white;
                            color: #A7AAAC;
                        }
                    }
                    #de{
                        width: 15%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                    }
                    #mensaje{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                    }
                    #hora{
                        width: 8%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                    }
                }
            }


            }

        }
    
    }

}
@media only screen and (max-width: 800px){

    body{

       width: 800px;
        header{

            #p1{
                #marca{
                    display: none;
                }
            }
            #p2{
                
            }

        }
        #contenido{


              #leftBar{
                   width: 0%;
                }
                #midBar{
                    #cabecera{
                        display:none;
                    }
                    #bandeja{
                        #opciones{
                        display: none;
                        }
                    }
                }
        }
    }   
}

